<!--WE ARE READ HOW TO INCLUDE CHILD SECTION USING PYTHON TAG WHICH IS
{percentage include "child_file_name.html" percentage} -->
<!-- Footer -->   <!--Practice for django_15_MODULE -->
  <hr>
  <footer style="background:yellow;">
    <p>&copy; 2026 My Website | All Rights Reserved</p>
    <p>Follow us:
      <a href="#">Facebook</a> |
      <a href="#">Twitter</a> |
      <a href="#">Instagram</a>
    </p>
  </footer>

<!--THE FILE----- otherpage1_.html   |  top_div_footer.html   | top_div_header.html ------IS CONNECTED TO EACH OTHER
    USING DANGO < {{TAG}} >  <{{TAG}}>------>
</body>
</html>
